section{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    margin-left:0px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
.cards{
 
    width: 20rem;
    padding: 2px;
     border: 1px;
     border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
}
.cards:hover{
    box-shadow: 0 10px 10px 10px rgba(135, 206, 235, 0.82);
    cursor: pointer;
}
.image_box img{
    width: 240px;
    height: 300px;
    /* border: 1px solid grey;
    border-radius: 10%; */
}
.details p:nth-child(1){
    font-weight: bold;
}
.details p:nth-child(2){
    color: grey;
    font-size: 0.8rem;
}
.details p:nth-child(3){
    font-weight: bold;
    color: grey;
}
.details button{
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    background-color: skyblue;
    outline: none;
    border-radius: 2px;
}
.total{
     /* background-color: #fff; */
     margin: 1rem;
     min-width: 300px;
}
.price{
    margin: 1rem;
    background-color: #fff;
    min-width: 100px;
    padding: 0.4rem;
    border: 1px solid #444 ;
    border-radius: 0.4rem;
}
